.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: $opacity, $visibility;
    z-index: 999;
    overflow-y: scroll;

    @media screen and (min-width: 480px) {
        padding: 93px 15px;
    }

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: $opacity, $visibility;
    }
}

.modal {
    width: 100%;
    height: max-content;
    padding: 6%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: $transform;
    background-color: $body-color;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 480px) {
        position: absolute;
        width: 450px;
        height: 609px;
        padding: 40px;
    }

     .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.9);
        transition: $transform;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
}

.modal__button {
    display: inline-flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}
