.herou {
    text-align: center; 
}

.herou__container {
    width: 100%;
    padding-top: 118px;
    padding-bottom: 118px;  
    background-color: $footer-color;
    background-image:
        linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(.../images/Herou-480.jpg);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 768px) {
        max-width: 768px;
        background-image:
            linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(.../images/Herou-768.jpg);
    }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        padding: 200px 0;
        background-image:
            linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(.../images/Herou-1200.jpg);
    }
}


@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .herou__container {
        @media screen and (min-width: 480) {
                background-image:
                    linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(.../images/Herou-480_@2x.jpg);
            }

        @media screen and (min-width: 768) {
                background-image:
                    linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(.../images/Herou-768_@2x.jpg);
            }

        @media screen and (min-width: 1200) {
            background-image:
                linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(.../images/Herou-1200_@2x.jpg);
        }
    }
}

.herou__title {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.herou__button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    transition: $background-color;

    @media screen and (min-width: 1200px) {
        width: 216px;
        height: 50px;
    }

    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}

