.herou {
    text-align: center; 
}

.herou__container {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;  
    background-color: $footer-color;
    background-image:
        linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/Herou_mobl1x.jpg);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 768px) {
        background-image:
            linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/Herou_tab1x.jpg);
    }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        padding: 200px 0;
        background-image:
            linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/Herou_desctop1x.jpg);
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .herou__container {
        @media screen and (max-width: 767px) {
                background-image:
                    linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/Herou_mobl2x.jpg);
            }
        }
    }

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .herou__container {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
                background-image:
                    linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/Herou_tab2x.jpg);
            }
        }
    }

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .herou__container {
        @media screen and (min-width: 1200px) {
            background-image:
                linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/Herou_desctop2x.jpg);
        }
    }
}

.herou__title {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.herou__button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    transition: $background-color;

    @media screen and (min-width: 1200px) {
        width: 216px;
        height: 50px;
    }

    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}

