.header {
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
}

.header__container { 
    display: flex;
    position: relative;
    justify-content: space-between;        
    align-items: center;
    height: 60px;
    background-color: $body-color;

    @media screen and (min-width: 768px) {
        height: 80px;
    }    
}

.navigation {

    @media screen and (max-width: 767px) {
        margin-bottom: 38%;
    }

    @media screen and (min-width: 768px) {
        display: flex; 
        align-items: center;
        margin-left: 87px;
        margin-right: 96px;
    }
}

.navigation__list {
    position: relative;
    display: block;
    text-align: left;
    width: max-content;
    
    &:not(:last-child) {
        margin-bottom: 4%;
    }
    
    @media screen and (min-width: 480px) {    
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    @media screen and (min-width: 767px) {
        &:not(:last-child) {
            margin-right: 50px;
            margin-bottom: 0;
        }
    }        
}

.navigation__link {

    color: $primery-color;
    letter-spacing: 0.02em;

    @media screen and (max-width: 479px) {
        font-weight: 500;
        line-height: 1.18;
        font-size: calc(28px + 12 * (100vw / 1200));
    }

    @media screen and (min-width: 480px) {
        @include font-menu (40px, 1.18);
    }
    
    @media screen and (min-width: 768px) {
        @include font-menu (14px, 1.14);
        transition: $color;
    }
           
    &:hover,
    &:focus {
        color: $secondery-color;
    }
}

.navigation__link--curent {
    color: $secondery-color;

    &::after {
        @media screen and (max-width: 479px) {
            top: 38px;
        }
        content: "";
        position: absolute;
        top: 48px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $secondery-color;
        border-radius: 2px;
    }
}

.contacts {

    @media screen and (max-width: 767px) {
        display: block;
        margin: 0;
        text-align: left;
        margin-bottom: 64px;
    }
    
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.contacts__item {
   display: block;
   
   @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
   }

    &:not(:last-child) {
        @media screen and (max-width: 479px) {
            margin-bottom: 5%;
        }

        @media screen and (min-width: 480px) and (max-width: 767px) {
            margin-bottom: 32px;
        }
            
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: 10px;
        } 
        
        @media screen and (min-width: 1200px) {
            margin-right: 30px;
        }
    }
}


.contacts__link {
    
    color: $additional-color;
    fill: $additional-color;
    transition: $color, $fill;
    font-weight: 500;
    line-height: 1.18;
    font-size: calc(22px + 12 * (100vw / 1200));

    &--tel {
        @media screen and (max-width: 767px) {
        color: $secondery-color;
        }
    }

    @media screen and (min-width: 480px) {
        @include font-menu (34px, 1.18);
    }

    @media screen and (min-width: 768px) {
       @include font-menu (14px, 1.14);
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        line-height: 0.86;
    }

    @media screen and (nin-width: 1200px) {
        display: inline-flex;
        align-items: center;
    }   
    
    &:hover,
    &:focus {
        color: $secondery-color;
        fill: $secondery-color;
    }
}

.contacts__icon {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        margin-right: 8px;
    }
}

.networks-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.networks-header__item {
    width: max-content;
    font-weight: 500;
    line-height: 1.18;
    font-size: calc(10px + 6 * (100vw / 1200));

    @media screen and (min-width: 480px) {
       @include font-menu (18px, 1.22);
    }
    
    &:not(:last-child) {
        padding-right: 10px;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: rgba(33, 33, 33, 0.2);
    }

    &:not(:first-child) {
        padding-left: 10px;
    }
}

.networks-header__link {
    color: $secondery-color;
    display: block;
}
