.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__title {
    margin-bottom: 50px;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px;
}

.client__link {  
    width: 210px;
    height: 92px;
    margin: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    transition: $border, $fill;
    
    @media screen and (min-width: 768px) {
        width: 226px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 170px;
    }
    
        &:hover,
        &:focus {
            border: 1px solid $secondery-color;
            fill: $secondery-color;
        }
}
