
body {
    font-family: "Roboto", sans-serif;
    background-color: $body-color;
    color: $primery-color;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
}

.container {   
    padding-right: 15px;
    padding-left: 15px;
    
    @media screen and (min-width: 480px) {
        width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 768px) {
        width: 768px;    
    }
    
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.title {
    @extend %font-h2;

    &--herou {
        @extend %font-h1;
        color: $body-color;
    }

    &--no-visibility {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        overflow: hidden;
    }

    &--form {
        @extend %font-form-title;
        color: $primery-color;
    }
}



