// variables color
$primery-color: #212121;
$additional-color: #757575;
$secondery-color: #2196f3;
$body-color: #ffffff;
$logo-color: #000000;
$footer-color: #2f303a;

// variables transition
$transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
$opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
$visibility: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
$fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
$background-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$border: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
$color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$box-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
